.aboutContent {
  height: 100vh;
  display: grid;
  grid-template-columns: repeat(2, auto);
  grid-template-areas: "aboutImage details";
  grid-gap: 10vh;

  .details {
    grid-area: details;
    height: 100vh;
    display: flex;
    flex-direction: column;

    h1 {
      font-size: 4rem;
      margin-top: 20vh;
      background: linear-gradient(120deg, #ecebeb, #4a4a4a);
      background-clip: text;
      -webkit-background-clip: text;
      color: transparent;
    }
    p {
      font-size: 24px;
      text-align: justify;
      margin-right: 5vw;

      span {
        font-size: 30px;
        font-weight: 600;
        color: rgb(255, 255, 255);
      }
    }
  }
  .aboutImage {
    grid-area: aboutImage;
    width: 40vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 3vw;

    img {
      width: 90%;
    }
  }
}

.TechStacks {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 10vh;
  padding-bottom: 20vh;
  h1 {
    font-size: 4rem;
    margin-top: 20vh;
    background: linear-gradient(120deg, #ecebeb, #4a4a4a);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
  }
}
.techContainer {
  background: var(--card-bg);
  margin: 10vh;
  width: 70vw;
  display: flex;
  align-items: center;
  gap: 100px;
  flex-wrap: wrap;
  padding: 40px 30px 40px 30px;
  border-radius: var(--radius);
}
.tech {
  width: 150px;
  height: 150px;
  position: relative;
  background: #1f2937;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
  padding: 40px 30px 30px 30px;
  border-radius: var(--radius);
  transition: transform 0.3s ease-in-out;
  img {
    width: 70%;
  }
}

.tech:hover {
  transform: scale(1.1) translateY(-10px);
}
